user company_news company_news;
worker_processes {{ ansible_processor_count }};

# Avoid Too many open files
worker_rlimit_nofile {{ limit_open_files }};


events {
   worker_connections {{ connections }};
}


daemon on;
pid        /var/run/nginx.pid;
#pid {{ app_root }}/pid/nginx.pid;

http {
    include       mime.types;
    default_type  application/octet-stream;

    # Exchange Configuration
    server {
        listen 80;
        server_name localhost;
            
        access_log {{ app_root }}/logs/nginx_access.log;
        error_log {{ app_root }}/logs/nginx_error.log;
        
        location / {
            # put the tomcat servers address here
            proxy_pass {{ tomcat_address_and_port }};
            proxy_set_header        X-Real-IP $remote_addr;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header        Host $http_host;      
            
            # Agressive timeout to remove slow machines from LB
            proxy_connect_timeout      10;
            proxy_send_timeout         10;
            proxy_read_timeout         10;
        }
        
        location /images {
            root {{ app_root }}/static;
        }

        location /styles {
            root {{ app_root }}/static;
        }

       # redirect server error pages to the static page /40x.html
        #
        error_page  404              /404.html;
        location = /40x.html {
            root   /usr/share/nginx/html;
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
}
